<plugin>
	<nom>P&#233;titions</nom>
	<auteur>Collectif SPIP</auteur>
	<version>1.0</version>
	<version_base>1.0</version_base>
	<etat>test</etat>
	<description>P&eacute;titions dans SPIP</description>
	<icon>images/petition-24.png</icon>
	<prefix>petitions</prefix>
	<install>base/petitions_upgrade.php</install>
	<fonctions>public/petitions.php</fonctions>
	<options>petitions_options.php</options>
	
	<pipeline>
		<nom>declarer_tables_auxiliaires</nom>
		<inclure>base/petitions.php</inclure>
	</pipeline>
	<pipeline>
		<nom>declarer_tables_principales</nom>
		<inclure>base/petitions.php</inclure>
	</pipeline>
	<pipeline>
		<nom>declarer_tables_interfaces</nom>
		<inclure>base/petitions.php</inclure>
	</pipeline>
	<pipeline>
		<nom>declarer_tables_objets_surnoms</nom>
		<inclure>base/petitions.php</inclure>
	</pipeline>
	<pipeline>
		<nom>declarer_type_surnoms</nom>
		<inclure>base/petitions.php</inclure>
	</pipeline>
		
	<pipeline>
		<nom>autoriser</nom>
		<inclure>petitions_autoriser.php</inclure>
	</pipeline>
	<pipeline>
		<nom>afficher_config_objet</nom>
		<inclure>petitions_pipelines.php</inclure>
	</pipeline>

	<pipeline>
		<nom>rechercher_liste_des_champs</nom>
		<inclure>petitions_pipelines.php</inclure>
	</pipeline>
	
	<bouton id='controle_petition' parent='bando_activite' position="-1">
		<icone>images/petition-16.png</icone>
		<titre>petitions:icone_suivi_petitions</titre>
	</bouton>
	<necessite id="SPIP" version="[2.2.0 dev;)" />
</plugin>
